<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">HackerNews</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div ng-controller="HackerNewsCtrl">
    
	<h1>Skoltech</h1>
            <div id="deviceready" class="blink">
                <p class="event listening"> IT Courses</p>
				     <p> Innovation Workshop </p>
                	 <p> Ideas to Impact: Foundations for Commercializing Technological Advances</p>
                     <p> Machine Learning </p>
					 <p> Systems Optimization: Models and Computation </p>
					 <p> Great Computational Methods  </p>
					 
					 <p class="event listening">Energy Courses</p>
				     <p> Innovation Workshop </p>
                	 <p> Ideas to Impact: Foundations for Commercializing Technological Advances</p>
					 <p> Energy Physics and Technology </p>
					 <p> Systems Optimization: Models and Computation </p>
					 <p> Global Energy, Decisions, Markets and Policy  </p>
	
</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>